body{
margin: 0;
font-size: 20px;
line-height: 30px;
text-align: justify ;
background-color: thistle;

}

header{
  background-color: Thistle;
  color: white;
  text-decoration:underline ;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.caption {

  background-color: thistle;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

main{
  max-width: 1000px;
  margin: auto;


}

header p{
  text-align: left;
  font-size: 5px;

}


header a:link {
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header a:link, a:visited {
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header a:hover, a:active {
  color:  Maroon;
text-decoration: underline;
}

h4{
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  text-decoration: underline;
}

h4 .child{
  color: black;
}

h4 .parent{
  color: white;
}

.child{
  background-color: Lavender;
  color: black;
  margin: auto;
  height: 250px;
  max-width: 500px;
}

.parent{
  background-color: Thistle;
  color: white;
  margin: auto;
  height: 250px;
  max-width: 500px;
}

footer{
  background-color: Thistle;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  height: 500px;
  padding-top: 50px;
}

